.moviePage {

}
.details,.poster {
  display:inline-block;
}
.details {
  max-width:40vw;
  margin-left:5vw;
}
.poster {
  max-width:30vw;
  max-height:200px;
}
.rating {
  color:olivedrab;
  display:inline-block;
  border-radius:50%;
  border:1px solid olivedrab;
  padding:.3em;
}